.posts-page {
    min-height: 90vh;
    display: flex;
    justify-content: center;
}
.post-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.post-item {
    width: 50vw;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}