.loader {
}

.loader__container {
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.roller {

    width: 100px;
    height: 100px;
    border: 5px dotted dodgerblue;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}