@import url('navbar.css');

header {
    padding: 20px;
    width: 100vw;
    height: calc(100vh - 90vh);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #fde5e5;
    border-bottom: 1px solid lightgray;
}