.navbar {
}

.navbar__content {
    display: flex;
}

.navbar__content li {
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.navbar__content li:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}